* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(0, 212, 255);
    background: linear-gradient(45deg, rgba(0, 212, 255, 1) 0%, rgba(11, 3, 45, 1) 100%);
    background-image: url(https://images.unsplash.com/photo-1619204715997-1367fe5812f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1889&q=80);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    font-weight: 800;
}

header {
    display: flex;
    margin: 0 30px 10px;
    justify-content: space-between;
    margin-right: 335px;
}

.title-container {
    width: 320px;
}

.title {
    font-family: 'Righteous', sans-serif;
    font-size: 2rem;
    color: #fff;
    font-weight: bolder;
    display: block;
    width: 100%;
    text-align: center;
    margin: 30px auto 30px;
}

.search-container {
    text-align: center;
    margin: 20px auto;
    margin-right: 340px;
    width: 100%;
}

.search-bar {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 16px;

}

.search-bar::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: #d1d0d0;
}

.search-bar:focus {
    outline: none;
    border-color: rgba(0, 212, 255, 1);
    background-color: rgba(255, 255, 255, 0.2);
}

.container {
    display: flex;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-right: 320px;
}

.card {
    backdrop-filter: blur(16px);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 230px;
    min-height: 280px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.wrapper {
    width: 100%;
    height: 100%;

}

.banner-image {
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 200px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.255)
}

h1 {
    font-family: 'Righteous', sans-serif;
    color: rgba(255, 255, 255, 0.98);
    font-size: 1.3rem;
    text-align: center;
}

p {
    color: #fff;
    font-size: 0.85rem;
    line-height: 150%;
    letter-spacing: 2px;
}


.btn {
    background: rgba(0, 212, 255, 0.9);
    color: rgba(255, 255, 255, 0.95);
    font-weight: bold;
    border: none;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 0.8rem;
    letter-spacing: 2px;
    cursor: pointer;
}

.search-btn {
    border-radius: 0 24px 24px 0;
    margin: 8px 0;
}

.search-container {
    text-align: center;
    margin: 20px auto;
    width: 100%;
}

.search {
    display: flex;
    margin: 8px 0 0 0;
}

.no-data {
    margin: 20px auto;
    text-align: center;
    min-height: 280px;
    font-size: 1.3rem;
    color: #fff;
}

.search-bar {
    min-width: 300px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 24px 0 0 24px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 16px;
}

.search-bar::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: #d1d0d0;
}

.search-bar:focus {
    outline: none;
    border-color: rgba(0, 212, 255, 1);
    background-color: rgba(255, 255, 255, 0.2);
}

.filter-container {
    border: 1px solid rgba(255, 255, 255, 0.5);
    height: fit-content;
    display: flex;
    flex-direction: column;
    max-width: 240px;
    gap: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(12px);
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 30px;
    padding: 40px 20px;
    min-height: 300px;
    margin-top: 20px;
    color: #fff;
    font-weight: 700;
    text-align: center;
}

.filter-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter-dates {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* .filter-container input[type="number"] {
    width: 30% !important;

} */

.filter-container input[type="number"],
.filter-container input[type="text"] {
    width: 90%;
    padding: 10px;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.filter-container input::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: #d1d0d0;
}

.filter-container input:focus {
    outline: none;
    border-color: rgba(0, 212, 255, 1);
    background-color: rgba(255, 255, 255, 0.2);
}

.filter-label {
    margin-bottom: 10px;
    font-size: 1.1rem;
    display: block;
}

.members-checkboxes label {
    color: #fff;
    font-size: 1rem;
    margin-right: 15px;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.checkbox-group label {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 8px;
    cursor: pointer;
}

.checkbox-group label:hover {
    background-color: rgba(0, 212, 255, 0.1);
}


.btn:hover {
    background: rgba(0, 180, 220, 1);
}




@media (max-width: 915px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .title {
        margin-bottom: 5px;
    }

}

@media (max-width: 840px) {
    header {
        flex-direction: column;
        align-items: center;
        width: fit-content;
    }

    .title {
        margin-bottom: 5px;
    }

    .search-bar {
        border-radius: 24px 0 0 24px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        background-color: rgba(255, 255, 255, 0.1);
        color: #fff;
        font-size: 12px;
        min-width: 200px;
    }

    .cards {
        gap: 5px;
        margin-right: 250px;
    }

    .filter-dates {
        flex-direction: column;
        gap: 5px;
        font-size: 0.8rem
    }

    .card {
        padding: 10px 5px;
        width: 130px;
        min-height: 225px;
    }

    .banner-image {
        height: 130px;
        width: 130px;
    }

    /* Place the filter form at the top */
    .filter-container {
        /* position: relative; */
        margin-right: 0;
        max-width: 200px;
        margin: 20px auto;
        padding: 20px;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .filter-group {
        width: 100%;
    }
}


/* Responsive Styling */
@media (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .cards {
        gap: 5px;
        margin-right: 0px;
    }

    .filter-group {
        flex-direction: column;
        gap: 15px;
    }

    .filter-container input[type="number"],
    .filter-container input[type="text"] {
        max-width: 100%;
    }

    /* Make filter form fully responsive */
    .filter-container {
        position: relative;
        max-width: 80%;
        width: 80%;
        margin: 0 auto 20px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .filter-container input[type="number"],
    .filter-container input[type="text"] {
        width: 100%;
    }

    .filter-group {
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width: 430px) {

    .search-container {
        text-align: center;
        margin: 10px auto;
        width: 100%;
    }

    .search {
        display: flex;
        margin: 8px 0 0 0;
    }

    .cards {
        gap: 5px;
        margin-right: 0px;
    }

    .search-bar {
        min-width: 200px;
        padding: 5px 8px;
        box-sizing: border-box;
        border-radius: 24px 0 0 24px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        background-color: rgba(255, 255, 255, 0.1);
        color: #fff;
        font-size: 14px;
    }

    header {
        margin: 0;
    }

    /* More compact view for small screens */
    .filter-container {
        /* position: static; */
        /* max-width: 100%; */
        /* width: 100%; */
        margin: 10px 0;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0 auto 10px;
    }

    .filter-group {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .filter-container input[type="number"], 
    .filter-container input[type="text"] {
        width: 80%;
    }

    .filter-dates {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}