.error-card {
    backdrop-filter: blur(16px);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 230px;
    padding: 40px 20px;
    margin:250px auto 0;
    width: 50%;
    text-align: center;
}

.error-card h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.error-card p {
    font-size: 1.2em;
    margin: 20px 0;
}

.error-card .btn {
    margin-top: 20px;
}