<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/app.css">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <title>Groupie Tracker</title>
</head>

<body>
    <h1>Artists</h1>
    <div class="artists">
        {{range .Artists}}
        <div class="card">
            <img src="{{.Image}}" alt="{{.Name}}">
            <h2>{{.Name}}</h2>
            <p>Members: {{range .Members}}{{.}}, {{end}}</p>
            <p>Creation Date: {{.CreationDate}}</p>
            <a href="/artist/{{.ID}}" class="button">View Details</a>
        </div>
        {{end}}
    </div>
</body>

</html>