<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/app.css">
    <link rel="shortcut icon" href="/assets/static/favicon.ico" type="image/x-icon">
    <title>Groupie Tracker</title>
</head>

<body>
    <!-- <h1>Artists</h1> -->
    <div class="container">
        {{range .Artists}}
        <div class="card">
            <div class="wrapper">
                <img class="banner-image" src="{{.Image}}" alt="{{.Name}}">
                <div class="card-info">
                    <h1>{{.Name}}</h1>
                    <p>{{.Type}}</p>
                </div>
            </div>
            <div class="button-wrapper">
                <a href="/artist/{{.ID}}" class="btn fill">DETAILS</a>
            </div>
        </div>
        {{end}}
    </div>

</body>

</html>